body {
    width:calc(100vw - 50px);
    height:calc(100vh - 50px)
}
div{
    display:block;
    width: 100%;
}
#piros{top: 0%;
    position: absolute;
    height: 10%;
    width:100%;
    background-color: red; 
}
#zöld{
    top: 10%;
    height: 25%;
    width:100%;
    background-color: green;
    border: 1px solid black;
}
#op_1{
    height: 50;
    width:33%;
    background-color: cyan;
    border: 1px solid black;
}
#op_2{
    height: 50%;
    width:33%;
    background-color: cyan;
    border: 1px solid black;
}
#op_3{
    top:85%;
    position:absolute;
    height: 50%;
    width:33%;
    background-color: cyan;
    border: 1px solid black;
    left:66%;
}
#narancs{
    top: 85%;
    height: 15%;
    width:100%;
    background-color: orange;
    border: 1px solid black;
    display:flex;
}
/*( ._ .)*/